<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Role</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Choose Role</title>
</head>
<body>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <h2>Who are you?</h2>
    <a href="/register/player"><button>Player</button></a>
    <a href="/register/scout"><button>Scout</button></a>
  </div>
</div>
</body>
</html>
